<footer class="footer pding" style="margin-bottom: -50px;
">
                        <div class="container-fluid pding">
                            <div class="row pding">
                                <div class="col-md-6">
                                    2023 © NT - NT21406.com
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right footer-links d-none d-md-block">
                                        <a href="javascript: void(0);">About</a>
                                        <a href="javascript: void(0);">Support</a>
                                        <a href="javascript: void(0);">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>