
    <script src="../../public/js/jquery-3.7.0.min.js"></script>

<form onsubmit="event.preventDefault(); login()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
 <footer class=" footer-alt">
    <p class="text-muted">Don't have an account? <a href="/accounts/register" class="text-muted ml-1"><b>Sign Up</b></a></p>
</footer>

<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
    function login(req, res, next) {
        $.ajax({
            url:'/accounts/login',
            type: 'POST',
            data: {
                email: $('#email').val(),
                password: $('#password').val()
            }
        })
        .then(data => {//Nếu thành công
            {{!-- console.log(data); --}}
            setCookie('token', data.token,1);
            {{!-- window.location.href = '/accounts/private' --}}
            window.location.href = '/'


        })
        .catch(error => {
            console.log(error)
        })
    }
</script>


                    