<h1>NEWS PAGE222</h1>
<div id="content"></div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#" onclick ='previousPage()'>Previous</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick='loadPage(1)'>1</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick='loadPage(2)'>2</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick='loadPage(3)'>3</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick='loadPage(4)'>4</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick='loadPage(5)'>5</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick='loadPage(6)'>6</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick='loadPage(7)'>7</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick ='nextPage()'>Next</a></li>
  </ul>
</nav>